
#new-login-screens {
  padding: 40px 0;
    letter-spacing: .5px!important;    font-family: "Open Sans"!important; font-weight:400!important; 
    font-weight:normal!important;background: #fafafa;
}
#new-login-screens h4,#new-login-screens p, #new-login-screens a,  #new-login-screens input, .placeholder-input label{
  font-family: "Open Sans"!important;font-weight:normal!important;
}
#new-login-screens p, #new-login-screens a,#new-login-screens span{
  letter-spacing: normal!important;
}

.my-ghost-btn:hover {
   color: #007fb6!important;
    border: #007fb6 solid 1px!important; 
}
#new-login-screens .why-mindler-box {
  padding: 30px 30px;
  color: #fff;
  background: #007fb6;
  width: 35%;
  float: left;
  display:none
}
.social-link-facebook a{
    text-align:center
}
#new-login-screens .why-mindler-box img {
  width: 45px;
  margin-right: 5px;
  margin-left: -5px;
}

#new-login-screens .why-mindler-boxstrong {
  font-weight: normal;
  text-transform: uppercase;
}

#new-login-screensh4 {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: normal;
  color: #fff;
  text-transform: none;
  margin-bottom: 30px;
}

#new-login-screens .why-mindler-boxp {
  margin-bottom: 40px;
}
#new-login-screens input:-webkit-autofill {
  background:#fff!important
}
#new-login-screens input:-webkit-autofill {
  background:#fff!important
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff!important

}
#new-login-screens .sign-up-box {
padding: 30px;
    width: 400px;
    float: none;
    margin: 0 auto;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.03);
    background: #fff;
    text-align:center;

      position: absolute!important;
    left: 50%;
    margin-left: -200px;
    top: -175px;
    z-index: 99;
    border-radius: 4px;
    margin-left:-200px!important;
    min-height: 250px;
}

#new-login-screens .sign-up-box .bottom-link {
  margin-bottom: 0;
  font-size: 13px;
  color: #888

}

#new-login-screens .sign-up-box p {
  color: #323232;
  margin-bottom: 20px;
}

#new-login-screens .sign-up-box h4 {
  color: #323232;
    margin-bottom: 20px;
    text-transform: none;
    font-size: 22px;
    letter-spacing: normal;
    font-weight: 500!important;
}

#new-login-screens .why-mindler-box h4 {
  color: #fff;
  margin-bottom: 30px;
  text-transform: none;
  font-size: 21px;
}

#new-login-screens .why-mindler-box strong {
  font-weight: normal;
  text-transform: uppercase;
}

#new-login-screens .why-mindler-box p {
  margin-bottom: 40px;
}

#new-login-screens .new-btn-orange {
color: #fff;
    background-color: #d45400;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    font-size: 12px;
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor:pointer
}
#new-login-screens .new-btn-orange:hover {
background-color: #bb4b01;color: #fff;

}
#new-login-screens .row {
}
.placeholder-input {
position:relative;
}
.placeholder-input input {

}
.placeholder-input.focused input:focus {
border-bottom: 2px #007fb6 solid!important;
transition-duration: .2s;
transition-timing-function: cubic-bezier(0.4,0,.2,1);
}

.placeholder-input label {
transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4,0,.2,1);
    font-size: 13px;
    left: 0;
    top: 12px;
    position: absolute;
    pointer-events: none;
    font-weight: normal;
    margin: 0;
    line-height:normal;
        color: #999;    letter-spacing: normal;
   font-family: "Open Sans"
}

.placeholder-input.focused label {
font-size: 11px;
color: #777;
top: -7px;letter-spacing: .5px;
}
.placeholder-input.focused-blue label {

color: #007fb6!important

}
#new-login-screens input {
  border-radius: 0px;
  height: auto;
  padding:10px  0  8px 0;
      margin-bottom: 0px;
       border: 0;
              border-bottom: 2px #e7e7e7 solid;
              -webkit-box-shadow: none;
    box-shadow: none;
    background:#fff;
    cursor:text ;
    color: #222;    font-size: 14px;letter-spacing: .5px;
}
.validation {font-size: 11px!important;
}

#new-login-screens .sign-up-box .socialbutton {
  padding: 7px 15px;
  width: 100%;
  display: inline-block;
  text-align: right;
  color: #323232;
  margin-bottom: 25px;
  text-align:center;
  font-size: 12px;
    font-weight: 400!important;
}
#new-login-screens .sign-up-box .socialbutton:hover {
  box-shadow: 0 2px 15px rgba(0,0,0,.1)!important
}
#new-login-screens .sign-up-box .socialbutton:hover {
  color: #444;
}

#new-login-screens .sign-up-box .socialbutton img {
     width: 20px;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: -2px;
}

#new-login-screens a {
  color: #007fb6;
}

#new-login-screens a:hover {
  color: #00587d;
}

#new-login-screens .sign-up-box p.bottom-link {
    font-size:12px
}
#new-login-screens .container {
    position:relative;
    min-height: 360px
}
#new-login-screens.addjust-center .sign-up-box {
  padding: 30px;
  width: 400px;
  float: none;
  margin: 0 auto;
  padding-bottom: 50px;
  box-shadow: 0 2px 15px rgba(0,0,0,.1);


}

#new-login-screens .relative-span {
  position: relative;display: block; margin-bottom: 32px
}
#new-login-screens .relative-span .validation{
  line-height: normal;    position: absolute;
    top: 40px;
}
#new-login-screens .relative-span .form_error{
  font-size: 11px;
  text-align: left;
  line-height: normal;
    margin-top: 2px;
}

#new-login-screens .relative-span .fa {
  right: 5px;
top: 16px;
position: absolute;
cursor: pointer;
color: #007fb6!important;
font-family: "Open Sans";
font-size: 11px;
letter-spacing: normal;
}
#new-login-screens .relative-span .fa:before {
    display: none;
}
#new-login-screens .sign-up-box.for-reset-password {
  padding-bottom: 30px;
}

#new-login-screens .sign-up-box.for-reset-passwordp:last-child {
  margin-bottom: 0px;
}

#new-login-screens .sign-up-box.for-reset-password.send-to-dashboard {
  display: none;
}

#new-login-screens .sign-up-box.for-great-massage {
  display: none;
  padding-bottom: 30px;
}

#new-login-screens .sign-up-box p:last-child {
  margin-bottom: 0px;
}



a.signupbutton:hover{
  color:#fff;
  background-color:#000;
  background-position: -100% 100%;
}
.full-intro .header.sticky {
    background-color: #fff;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.header.sticky .navigation ul li a, .header.sticky-2 .navigation ul li a {
    padding: 26px 16px;
    color: #3a3a3c;
}
.header .navigation ul li a.signupbutton{
      background-color: #d45400!important;
    color: #fff!important
}
.header .navigation ul li a.signupbutton:hover{
      background-color: #c55003!important;
    color: #fff!important
}
.header.sticky .navigation ul li a.signupbutton{
      background-color: #d45400!important;
    color: #fff!important
}
.header.sticky .navigation ul li a.signupbutton:hover{
      background-color: #c55003!important;
    color: #fff!important
}

.header.sticky  .side-menu-btn ul li a.right-icon, .header.sticky-2  .side-menu-btn ul li a.right-icon{
   color: #3a3a3c
}
.header.sticky .logo a {
   width: 132px!important; 
    margin-top: 20px!important; 
}















@media only screen and (max-width: 768px) {


.header .logo a, .header.sticky .logo a {
    margin-top: 20px;
    width: 132px;
}
.header.sticky .logo a img.l-color {
    opacity: 0;
}
.header.sticky-2 .logo a img.l-black {
    opacity: 1;
}
.header.sticky-2 .side-menu-btn .mobile-call a, .header.sticky .side-menu-btn .mobile-call a{    color: #3a3a3c!important;}


  #new-login-screens .sign-up-box {
    padding: 30px;
  }
#new-login-screens .sign-up-box .socialbutton img {
    width: 18px;   

  
}#new-login-screens .sign-up-box .socialbutton {
    padding: 5px 5px;
 
}

  #new-login-screens .sign-up-box p:last-child {
    margin-bottom: 0px;
  }

  #new-login-screens .sign-up-box .social-link-facebook {
    padding: 0!important;
    width: 50%;
    float: left;
    padding-right: 5px!important;
  }

  #new-login-screens .sign-up-box .social-link-google {
    padding: 0!important;
    width: 50%;
    float: left;
    padding-left: 5px!important;
  }

  #new-login-screens {
    padding: 80px 0px 30px 0!important;
  }

  #new-login-screens .why-mindler-box p {
    margin-bottom: 20px;
  }

 .header.sticky{height: 55px;}

}

@media only screen and (max-width: 667px) {
  #new-login-screens .why-mindler-box {
    width: 100%;
  }

  #new-login-screens .sign-up-box {
    padding: 30px 30px;
    width: 100%;
    border: 1px #ddd solid;
    border-top: 0;
  }

  #new-login-screens .why-mindler-box {
    width: 100%;
  }

  #new-login-screens.addjust-center .sign-up-box {
    max-width: 100%;
  }

  #new-login-screens.addjust-center .sign-up-box .bottom-link span {
    display: block;
    width: 100%;
    float: none!important;
  }

  #new-login-screens.addjust-center .sign-up-box .bottom-link span:first-child {
    margin-bottom: 10px;
  }

  #new-login-screens.addjust-center .sign-up-box {
    padding-bottom: 30px;
  }
}

.header.sticky-2  .logo a {
   width: 132px;
   margin-top: 20px;
}
.header.sticky-2  .logo a .l-black{
  opacity: 1!important;
}
.header.sticky-2  .logo a .l-white,  .header.sticky-2  .logo a .l-color{
  opacity: 0!important;
}
.header.sticky-2  .navigation ul li a {
   padding: 26px 16px;
}
.full-intro .header.sticky-2 {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

    color: #d1d1d1;
    position: fixed;
    /* border-bottom: 1px solid #eee; */
}.header.sticky-2 .side-menu-btn > ul > li, .header.sticky .mobile-menu-icon-wraper {
    padding: 19px 0 20px;
}

