body {
  color: #484848;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  font-family: "Open Sans";
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  letter-spacing: normal!important;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #007fb6;
}

a:hover {
  color: #007fb6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}

.new-top-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  background: #fff;
}

.new-top-header .new-header-2 .left img.logo-blue {
  display: inline-block;
  margin-top: 13px;
}
.new-top-header .new-header-2 .left img.logo-blue {
  margin-top: 11px;
}

.new-top-header .new-header-2 .left img.logo-blue.logo-desktop {
  display:inline-block
}
.new-top-header .new-header-2 .left img.logo-blue.logo-mobile {
  display:none
}



.new-top-header.up .new-header-2 .left img.logo-blue {
  margin-top: 11px;
}



.new-top-header.up .new-header-2 {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.new-top-header.up a {
  color: #484848;
}

.new-top-header.up .for-product {
  color: #484848!important;
}

.new-top-header.up img.logo-for-desktop {
  display: none!important;
}

.new-top-header .logo-up {
  display: none!important;
}

.new-top-header.up img.logo-up {
  display: inline-block!important;
}

.new-header-1 {
  margin-top: 10px;
}

.new-header-2 {
  padding: 0px 0;
}

.blog-post .post-media img {
  width: 100%;
}

.cycle-bg-image {
}

.new-top-header .text-right {
  text-align: right;
}

.new-top-header a {
  color: #484848;
}

.new-top-header a:hover {
  color: #007fb6;
}

.new-top-header .new-header-1 a.contact-link .fa-phone {
  margin-right: 5px;
  color: #ea6915;
  font-size: 12px;
}

.new-top-header .new-header-1 .left a:hover {
  color: #ea6915;
}

.new-top-header .new-header-1 .right {
  text-align: right;
  font-size: 11px;
}

.new-top-header .new-header-1 .right a {
  margin-left: 30px;
}

.new-top-header .new-header-1 .right a:hover {
  color: #007fb6!important;
}

.new-top-header .new-header-2 .right {
  text-align: right;
}
.new-top-header .new-header-2 .col-md-2 {
  width:20%;
 
}
.new-top-header .new-header-2 .col-md-10 {
  width:80%;
}
.new-top-header .new-header-2 .right a {
  padding: 20px 10px;
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
  width: auto!important;
}

.new-top-header .new-header-2 .right a:hover {
  color: #007fb6;
}

.new-top-header.up .new-header-2 .right a:hover {
  color: #007fb6;
}

.new-top-header .new-header-2 .right a.active {
  color: #007fb6;
}

.new-top-header .new-header-2 .right a .active-line {
  position: absolute;
  height: 2px;
  background: #007fb6;
  bottom: 0px;
  width: 100%;
  display: block;
  left: 0px;
  display: none;
}

.new-top-header .new-header-2 .right a.active .active-line {
  display: block;
}

.new-top-header .new-header-2 .signup-field {
  margin-left: 15px;
  display: inline-block;
}

.new-top-header .new-header-2 .signup-field input {
  margin-bottom: 0px!important;
  border: 1px solid #ddd;
  border-radius: 2px 0 0 2px;
  display: inline-block;
  width: 200px;
  padding: 6px 12px;
  letter-spacing: normal;
  font-family: "Open Sans";
}

.new-top-header .new-header-2 .signup-field input:hover {
  border: 1px solid #ddd!important;
  outline: none!important;
}

.new-top-header .new-header-2 .signup-field input:focus {
  border: 1px solid #ddd!important;
  outline: none!important;
}

.new-top-header .new-header-2 .signup-field input::placeholder {
  color: #999!important;
  text-transform: none!important;
  font-size: 13px!important;
}

.new-top-header .new-header-2 .signup-field span.before-login {
  display: none;
}

.new-top-header .new-header-2 .signup-field a {
  border-radius: 2px;
  background: #ea6915;
  color: #fff;
  margin-left: 0px;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
}
.new-top-header .new-header-2 .signup-field a:hover {
  background: #dc600f;
}
.new-top-header .new-header-2 .signup-field span.start-free a {
  border-radius: 0 2px 2px 0;
  margin-left: -5px;
}

.full-screen-intro {
    max-height:730px!important
}

.new-top-header .new-header-2 .signup-field span a:hover {
  color: #fff!important;
}

.new-top-header .new-header-2 .signup-field span.before-login {
  display: none;
}

.new-top-header .new-header-2 .signup-field span.after-login {
  display: block;
}

.new-top-header .new-header-2.user-before-login .signup-field span.start-free {
  display: inline-block;
}

.new-top-header .new-header-2.user-before-login a.login {
  display: inline-block;
}

.new-top-header .new-header-2.user-before-login span.dashborad {
  display: none;
}

.new-top-header .new-header-2.user-before-login a.logout {
  display: none;
}

.new-top-header .new-header-2.user-after-login .signup-field span.start-free {
  display: none;
}

.new-top-header .new-header-2.user-after-login a.login {
  display: none;
}

.new-top-header .new-header-2.user-after-login span.dashborad {
  display: inline-block;
}

.new-top-header .new-header-2.user-after-login a.logout {
  display: inline-block;
}

.scroll-call {
  background: #ea6915;
  color: #fff;
}

.scroll-call:hover, .scroll-call:focus {
  background: #d45400!important;
  color: #fff!important;
}

.new-top-header .new-header-2 .fa-bars {
  display: none;
}

.mobile-fixed-header-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 100%;
  background: #fff;
  z-index: 99;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
    z-index: 99999;
  color: #484848;
  font-size: 13px;
  font-weight: 400;
  overflow-y: scroll;
  padding-top: 15px;
}

.mobile-fixed-header-menu.push-left {
  left: 0;
}

body.push-left {
  left: 0px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  overflow: hidden;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
}

.mobile-fixed-header-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.mobile-fixed-header-menu ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 7px;
  line-height: normal;
  font-size: 13px;
}

.mobile-fixed-header-menu ul li.blue-link a {
  color: #007fb6;
}

.mobile-fixed-header-menu h5 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.mobile-fixed-header-menu .program-row .prg-box {
  margin-bottom: 15px;
}

.mobile-fixed-header-menu .program-row .prg-box h6 {
  margin-bottom: 5px;
  font-size: 13px;
}

.mobile-fixed-header-menu .program-row .prg-box strong {
  font-weight: 400;
  font-size: 12px;
  color: #888;
}

.mobile-fixed-header-menu .program-row .prg-box a {
  display: block;
  margin-top: 3px;
  color: #007fb6;
  font-size: 12px;
}

.mobile-fixed-header-menu ul li.blue-link {
  margin-top: 20px;
}

.mobile-fixed-header-menu .resource-row ul li span {
  display: block;
  margin-bottom: 3px;
  color: #484848;
}

.mobile-fixed-header-menu ul li.phone-link {
  border-bottom: #ddd 1px solid;
  margin-bottom: 15px;
}

.mobile-fixed-header-menu .call-link {
  margin-bottom: 15px;
  padding-bottom: 10px;
  margin-top: 25px;
    /* background: #007fb6; */
    /* color: #fff; */
    /* padding: 7px; */
  border-radius: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.mobile-fixed-header-menu .call-link a {
  color: #888;
}

.mobile-fixed-header-menu .call-link a .fa {
  margin-right: 5px;
  color: #007fb6;
}

.mobile-fixed-header-menu ul li a {
  color: #484848;
  font-weight: 400;
}

.mobile-fixed-header-menu .menu-sign-up {
  margin-top: 15px;
}

.mobile-fixed-header-menu .menu-sign-up input {
    max-width: 500px;
    margin:0 auto;

  margin-bottom: 0px!important;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 15px;
}

.mobile-fixed-header-menu .menu-sign-up input::placeholder {
    color:#999
}


.mobile-fixed-header-menu .menu-sign-up input:focus {
  border: 1px solid #ddd!important;
}
.mobile-fixed-header-menu .validation{color: red}
.mobile-fixed-header-menu .col-md-12 {
  width: 100%;
  float: left;
}

.mobile-fixed-header-menu .program-row {
  width: 60%;
  float: left;
}

.mobile-fixed-header-menu .resource-row {
  width: 40%;
  float: left;
}

.mobile-fixed-header-menu .resource-row ul li.dashboard a {
  background: #ea6915;
  color: #fff;
  border-radius: 2px;
  display: block;
  padding: 6px 12px;
  text-align: center;
}

.mobile-fixed-header-menu .menu-sign-up a {
      max-width: 500px;
    margin:0 auto;
  border-radius: 2px;
  background: #ea6915;
  color: #fff;
 
  display: block;
  padding: 7px 12px;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.mobile-fixed-header-menu .menu-sign-up p {
  font-size: 11px;
  text-align: center;
}

.mobile-fixed-header-menu ul li.phone-link .fa {
  margin-right: 5px;
  color: #d45400;
}

.mobile-fixed-header-menu .ion.ion-android-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}

.new-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none;
}

.logo-for-mobile {
  display: none;
}

.new-top-header .new-header-2 .right span.for-product {
  position: relative;
  padding: 18px 15px;
  padding-right: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  font-size: 14px;
  background-position: center right 15px;
}

.new-top-header .new-header-2 .right span.for-product .fa-angle-down {
  position: absolute;
  right: 16px;
  top: 18px;
  font-size: 20px;
}

.new-top-header .new-header-2 .right span.for-product:hover {
  color: #fff;
  background-position: center right 15px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.new-top-header .new-header-2 span.for-product:hover {
  color: #007fb6!important;
}

.new-top-header .new-header-2 .right span.for-product:hover .sub-products {
  display: block;
}

.new-top-header .new-header-2 .right .for-product .sub-products {
  position: absolute;
  background: #fff;
  top: 57px;
  width:590px;
  list-style: none;
  margin: 0;
  z-index: 99999999;
  left: 0px;
  text-align: left;
  border-top: #ddd solid 1px;
  padding: 12px 15px;
  font-size: 13px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.21);
  color: #484848;
  cursor: default;
  display: none;
}

.new-top-header .new-header-2 .right .for-product .sub-products strong {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 12px;
  display: block;
  margin-bottom: 10px;
}

.new-top-header .new-header-2 .right .for-product .sub-products .line {
  border-bottom: 2px solid #ccc;
  display: block;
  float: left;
  width: 60px;
  margin-bottom: 10px;
}

.new-top-header .new-header-2 .right .for-product .sub-products h6 {
  color: #484848;
  font-size: 15px;
  font-weight: 600;
  text-transform: none;
  line-height: normal;
}

.new-top-header .new-header-2 .right .for-product .sub-products p {
  color: #484848;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 7px;
  float: left;
  width: 100%;min-height: 110px;
}

.new-top-header .new-header-2 .right .for-product .sub-products a {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #007fb6;
  font-size: 13px;
}

.new-top-header .row {
  overflow: visible;
}

.mobile-fixed-header-menu ul li.mobile-product {
  background: url(../../../../mindlerimages.imgix.net/home/arrow.png) no-repeat;
  background-position: 80px 6px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.mobile-fixed-header-menu ul li.mobile-product ul {
  margin: 0;
  padding: 0;
  display: none;
}

.mobile-fixed-header-menu ul li.mobile-product ul li {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.mobile-fixed-header-menu ul li.mobile-product ul li a {
  color: #888;
  font-size: 13px;
}

.mobile-fixed-header-menu ul li.mobile-product.active {
  background: url(../../../../mindlerimages.imgix.net/home/arrow-top.png) no-repeat;
  background-position: 80px 6px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.mobile-fixed-header-menu ul li.mobile-product.active a {
  color: #007fb6;
}

.mobile-fixed-header-menu ul li.mobile-product.active ul li a {
  color: #888;
}

#preloader {
  z-index: 999999;
}

.header-layer .black-sheet {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.50);
  z-index: 99;
}

.header-layer .black-sheet h6 {
  margin: 0;
  margin-top: 172px;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-transform: none;
  padding: 0;
  text-align: center;
  line-height: normal;
}

.header-layer {
  background: #007fb6;
  height: 300px;
  position: relative;
}

.header-layer .bg-sec {
  background: #007fb6;
  background-size: auto 230px;
  height: 230px;
  background-position: center!important;
  margin-top: 70px;
}

.header-layer.cl-bg {
  background: #86c766;
}

.header-layer.cl-bg .bg-sec {
  background: url(../../../../mindlerimages.imgix.net/home/cl-bg.jpg) no-repeat;
}

.header-layer.contact-bg {
  background: #79b9dc;
}

.header-layer.contact-bg .bg-sec {
  background: url(../../../../mindlerimages.imgix.net/home/contact.jpg) no-repeat;
}

.header-layer.privacy-bg {
  background: #4586ac;
}

.header-layer.privacy-bg .bg-sec {
  background: url(../../../../mindlerimages.imgix.net/home/privacy-bg.jpg) no-repeat;
}

.header-layer.tc-bg {
  background: #ba8758;
}

.header-layer.tc-bg .bg-sec {
  background: url(../../../../mindlerimages.imgix.net/home/bg-tc.jpg) no-repeat;
}

.header-layer.pricing-bg {
  background: url(../../../../mindlerimages.imgix.net/home/pricing.jpg) no-repeat;
  background-size: 100%;
  background-position-y: -110px;
}

.header-layer.pricing-bg .bg-sec {
  background: none;
}

.btn-blue-new {
  border-radius: 2px;
  display: inline-block;
  padding: 8px 15px;
  background: #007fb6;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: none;
}

.btn-blue-new:hover {
  color: #fff;
}
/*home page */

.homepage-new #awards {
  background: #fff;
  width: 100%;
  z-index: 99;
  bottom: 0px;
  padding: 30px 0;
}

#awards .award-icons img {
    margin: 0 15px;
 
}

.homepage-new #awards .col-md-2 div {
  height: 65px;
  vertical-align: middle;
  display: table-cell;
  width: 200px;
}

.homepage-new #awards .col-md-2 div img {
}

.btn-new-orange {
  border-radius: 2px;
  background: #ea6915;
  color: #fff;
  margin-left: 0px;
  display: inline-block;
  padding: 6px 15px;
  font-size: 13px;
}

.btn-new-orange:hover {
  background: #de6110!important;
  color: #fff!important;
}

.homepage-new .client-logo {
  height: 70px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 500px;
}

.homepage-new .client-logo a {
  display: inline-block;
}

.homepage-new .client-logo img {
}

.homepage-new .owl-carousel .owl-item {
  text-align: center;
}

.homepage-new #seefull-report-sec {
  background: url(../../../../mindlerimages.imgix.net/home/careeer-guidance.jpg) no-repeat;
  background-size: auto 298px;
  height: 298px;
  color: #fff;
  background-position: center;
}

.homepage-new #seefull-report-sec .content {
  padding-left: 500px;
  padding-top: 75px;
}

.homepage-new #seefull-report-sec h2 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 5px!important;
  padding: 0;
  line-height: normal;
}

.homepage-new #seefull-report-sec p {
  margin: 0;
  font-size: 14px;
  line-height: normal;
  margin-top: 10px;
}

.homepage-new #seefull-report-sec .col-md-12 span {
  float: left;
  width: 100%;
}

.homepage-new #seefull-report-sec .col-md-12 span .btn-new-orange {
  font-size: 14px;
  margin-top: 25px;
}

.homepage-new #email-signup-sec {
  background: url(../../../../mindlerimages.imgix.net/home/signup-banner.jpg) no-repeat;
  background-size: 100% auto;
  color: #fff;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}

.homepage-new #email-signup-sec .content h2 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 10px!important;
  padding: 0;
  color: #fff;
  font-weight: 400;
  text-transform: none;
  color: #fff;
  font-size: 26px;
  line-height: normal;
}

.homepage-new #email-signup-sec .content {
}

.homepage-new #email-signup-sec .content p {
  margin: 0;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  font-weight: 400!important;
  margin-bottom: 50px;
}

.homepage-new #email-signup-sec .content p {
  margin: 0;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  font-weight: 400!important;
  margin-bottom: 50px;
}

.homepage-new #email-signup-sec input {
  margin-bottom: 0px;
  border-radius: 2px 0 0 2px;
  display: inline-block;
  width: 300px;
  padding: 10px 15px;
  letter-spacing: normal;
  font-family: "Open Sans";
  font-size: 14px;
  border: 0;
  max-width: 500px;
}

.homepage-new #email-signup-sec input:focus {
  border: 0!important;
  outline: none!important;
}

.homepage-new #email-signup-sec .btn-new-orange {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 0 2px 2px 0;
  margin-left: -4px;max-width: 500px;
}

.homepage-new #client-logos {
  display: none;
}

.homepage-new #media-section {
  padding: 30px;
}

.homepage-new #media-section .col-md-2 {
  width: 14.2857142857%;
  text-align: center;
}

.homepage-new #media-section .row div {
  height: 37px;
  vertical-align: middle;
  display: table-cell;
  width: auto;
  text-align: center;
  padding: 0 40px;
}

.homepage-new #media-section .col-md-2 div img {
  max-width: 100%;
}

.homepage-new #student-program {
  padding: 50px 0;
  background: #f6f6f6;
  text-align: center;
}

#student-program h2 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 10px!important;
  font-size: 22px;
  padding: 0;
}

#student-program p.sub-title {
  margin-bottom: 30px!important;
  font-size: 14px;
}

.homepage-new #student-program .student-program-box {
  background: #fff;
  overflow: hidden;
  max-width: 320px;
  margin: auto;
}

.homepage-new #student-program .student-program-box .title {
  color: #484848;
  background: #fff;
  padding: 15px 20px;
  font-size: 21px;
  font-weight: 600;
}

.homepage-new #student-program .student-program-box .title p {
  color: #484848;
  margin-bottom: 0;
  padding: 0px;
  font-size: 15px;
  margin-top: 5px;
  min-height: 10px;
}

.homepage-new #student-program .student-program-box p {
  color: #484848;
  margin-bottom: 0;
  padding: 20px;
}

.homepage-new #student-program .student-program-box a {
  color: #007fb6;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 600;
}

.homepage-new #student-program .student-program-box a .fa {
  margin-left: 2px;
}

.homepage-new #tab-section {
  padding: 50px 0;
  background: #fff;
  text-align: center;
}

.homepage-new #tab-section h2 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 30px!important;
  font-size: 22px;
  padding: 0;
}

.homepage-new #tab-section .col-md-4 .img-box {
  min-height: 115px;
  margin-bottom: 15px;
}

.homepage-new #tab-section .col-md-4 .img-box img {
  width: 100px;
}

.homepage-new #tab-section .col-md-4 h5 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 10px!important;
  font-size: 16px;
}

.homepage-new #tab-section .col-md-4 p {
  margin-bottom: 0px!important;
  color: #888;
}

.homepage-new #platform-feature {
  padding: 50px 0;
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 10px;
}

.homepage-new #platform-feature h2 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 30px!important;
  font-size: 22px;
  padding: 0;
}

.homepage-new #platform-feature .page-icon-top {
  margin-bottom: 15px;
  margin-top: 0px;
}

.homepage-new #platform-feature .col-md-4 h5 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 15px!important;
  font-size: 16px;
  color: #007fb6;
}

.homepage-new #platform-feature .col-md-4 p {
  margin-bottom: 0px!important;
}

.homepage-new #platform-feature .col-md-4 {
  min-height: 200px;
}

.homepage-new .section-padding {
  padding: 50px 0;
  background: #f6f6f6;
}

#testimonials .item p {
    /* color: #484848; */
  font-size: 14px;
}

#facetestimonal .carousel-control {
    /* color: #888; */;
}

.homepage-new #career-guidance {
  padding: 30px 0;
  padding-bottom: 10px;
}

.homepage-new #career-guidance h2 {
  text-transform: none;
  margin-top: 0!important;
  margin-bottom: 15px!important;
  font-size: 22px;
  padding: 0;
}

.homepage-new #career-guidance .teamlogo img {
  margin: 0 20px;
  margin-bottom: 0px;
}

.homepage-new h2 {
  font-size: 24px!important;
}

.section-padding .blog-post {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.section-padding .blog-post .post-header {
  padding: 0 20px;
  padding-bottom: 15px;
}

.section-padding .blog-post .post-header a {
  color: #484848;
}

.section-padding .blog-post a:hover {
  color: #007fb6;
}

.section-padding .blog-post .post-header h5 {
  min-height: 72px;
}

#preloader .loader {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    text-align: center;
}
#preloader .loader .loader-img {
    background: url(../../../../beta.mindler.com/assets/prelogin_new/img/li-1.gif);
    width: 60px;
    height: 60px;
    display: block;
    background-size: 100%;
}

.full-cap-wraper {
  margin-top: 20px;
}

.new-purchase-banner.expand-mode {
  /*background: url(https://mindlerimages.imgix.net/home/diwali-bg.png) no-repeat!important;*/
}

.homepage-new #new-article.gray-strip {
  background: #fff;
}

.homepage-new #new-article {
  padding: 40px 0;
}

.homepage-new #new-article h2 {
  margin-bottom: 15px!important;
  margin-top: 0px!important;
  line-height: normal;
  padding: 0;
}

.homepage-new #new-article p {
  margin-bottom: 0px!important;
  font-size: 14px;
  color: #484848;
  line-height: 22px;
}

.homepage-new #new-article .article-box {
  display: table-cell;
  height: 520px;
  vertical-align: middle;
  padding-right: 75px;
}

.homepage-new #new-article .article-box h2 {
  font-size: 20px!important;
  padding: 0;
}

.homepage-new #new-article.gray-strip .article-box {
  padding-left: 75px;
  padding-right: 0;
}

.homepage-new #new-article.article-mobile {
  display: none;
}

.homepage-new #new-article .row .col-md-6:first-child {
width: 40%!important;
}

.homepage-new #new-article .row .col-md-6:last-child {
    width: 60%!important;
}

.homepage-new #new-article.gray-strip .row .col-md-6:first-child {
    width: 60%!important;
}

.homepage-new #new-article.gray-strip .row .col-md-6:last-child {
    width: 40%!important;
}

#testimonials .img-responsive {
  min-height: 100%;
}

footer .footer-box {
  background: #f6f6f6;
  padding: 30px 0;
}

footer .footer-box .title {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

footer .footer-box .title h3 {
  line-height: 4px;
}

footer .footer-box h3 {
  display: inline-block;
  background: #f6f6f6;
  margin: 0;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
}

footer .footer-box .title {
  background: url(../../../../mindlerimages.imgix.net/home/blue-line.jpg);
  background-repeat: repeat-x;
  background-position: center;
}

footer .footer-box h5 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

footer .footer-box .footer-row.footer-about p {
  line-height: 20px;
}

footer .footer-box a {
  display: inline-block;
  margin-bottom: 3px;
  color: #484848;
}

footer .footer-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer-box ul li a:hover {
  color: #007fb6;
}

footer .footer-box .footer-row {
  margin-top: 40px;
  float: left;
  width: 100%;
}

footer .footer-box .footer-row h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

footer .footer-box .footer-row.footer-about a {
  color: #007fb6;
}

footer .footer-box .footer-row.footer-about a:hover {
  color: #007fb6;
  text-decoration: underline;
}

.bold-6 {
  font-weight: 600;
}

footer .subscription-box input {
  margin-bottom: 0px!important;
  border: 1px solid #ddd;
  border-radius: 2px 0 0 2px;
  display: inline-block;
  width: 200px;
  padding: 5px 12px;
  font-size: 13px;
}
footer .subscription-box input::placeholder {
 color:#999
}
footer .subscription-box input:focus {
  border: 1px solid #ddd!important;
}

footer .subscription-box .btn-orange {
  border-radius: 0 2px 2px 0;
  display: inline-block;
  padding: 6px 12px;
  background: #ea6915;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-left: -4px;
}

footer .subscription-box .btn-orange:hover {
  color: #fff!important;
}

footer .subscription-box .btn-orange:hover {
  background: #dc600f;
  color: #fff;
}

footer .helpline {
  background: #007fb6;
  padding: 5px 12px;
  width: auto;
  border-radius: 2px;
  margin-bottom: 0px!important;
}

footer a {
  cursor: pointer;
}

footer .footer-social .fa {
  font-size: 20px!important;
  margin-right: 30px;
  color: #888;
  margin-top: 5px;
}

footer .footer-social .fa.fa-twitter:hover {
  color: #00aced;
}

footer .footer-social .fa.fa-facebook:hover {
  color: #3c5b9b;
}

footer .footer-social .fa.fa-instagram:hover {
  color: #b63388;
}

footer .footer-social .fa.fa-linkedin:hover {
  color: #0172b1;
}

footer {
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cycle-bg-image {
  display: none!important;
}

.full-cap-wraper {
  background: url(../../../../mindlerimages.imgix.net/home/header-img-2.jpg) no-repeat;
  margin-top: 70px!important;
  background-size: 100% auto;
}

.content-caption {
  display: table-cell;
  text-align: center;
  vertical-align: initial;
  padding-top: 60px;
}

.scroll-call {
  bottom: 20%!important;
}

.new-signup-box input {
  background: #fff!important;
  border: 1px solid #ddd!important;
letter-spacing: normal!important; 
}

.new-signup-box input::placeholder {
  color: #999!important;
}

.new-pricing-page .testimonials-section .item .lSSlideOuter .lSPager.lSpg > li.active a {
  background: #ffffff!important;
}

footer  ul li {
    margin-bottom: 0px!important;
    line-height: normal;
}
#email-signup-sec.mobile-signup-section input:focus{
border: 1px solid #ddd!important;
}
.new-top-header .new-header-2 .signup-field .validation {
    position: absolute;
    color: red;
    font-size: 9px!important;
}
.new-signup-box .validation {
 color: red;
    font-size: 11px!important;
    margin-left: 297px;
    margin-top: -19px;
    text-align: left;
}

#email-signup-sec .validation {


      text-align: left;
    margin-left: 307px;
}

.validation-mobile{display: none;}

.section-padding .blog-post .post-header p:nth-child(2) {
    min-height: 80px;
}

.overlay-box {
  
    z-index: 99999!important;

  
}

.intro-scroll-down {
  display:none
}

#testimonials .item p.test-for-mobile {
    display:none
}


#new-login-screens .new-btn-orange {
   
    outline: none;
}