   input[type="radio"] {
  position: absolute;
 
}

.side-label {
  display: block;
  position: relative;
  margin: 5px 0;
  padding-left: 35px;
  cursor: pointer;
    text-align: left;
    color:#fff;
}

.side-label::before, .side-label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"] + .side-label::before,
input[type="radio"] + .side-label::after {
  border-radius: 50%;
}

.side-label::before {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;  
}

input:focus + .side-label::before {
  border-color: #00ccff;
}

.side-label::after {
  display: none;
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: #00ccff;
}
input:checked + .side-label::after {
  display: block;
}
    
        .signUp,
.signIn
{
    position: inline;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    
    margin: auto;
   
}

.signIn
{
    display: none;

    
}





.sbtn
{


    width: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    cursor: pointer;

    border: 0;
    border-top: 1px solid #eee;
    outline: 0;
}

.sbtn-member,
.sbtn-back
{
    font-size: .9em;

    color: #333;
   
}

.sbtn-sign-up,
.sbtn-log-in
{
    font-size: 1.2em;
    font-weight: bold;

    color: white;
    background: #00ccff;
}
      
      
        
    .login {
  background: transparent;
  border-radius: 10px;

  height: auto;
}
.login_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login_inner__avatar {
  background: url(../img/favicon.ico);
  background-size: cover;
  border: 0px solid #00ccff;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  border-radius: 100%;
}
.login_inner__check {
  border: 1px dashed #000;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  position: absolute;
  margin: -280px 120px;
  opacity: 0;
  text-align: center;
}
.login_inner__check--complete i {
  line-height: 4em;
  color: #000;
  opacity: 0;
}
.login_inner input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 1.1em;
  color: #000;
  outline: none;
  font-size: 0.9em;
  text-align: left;
}
.login_inner input:last-of-type {
  border-bottom: none;
}
.login_inner input[type="submit"] {
  background: #00ccff;
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: center;
    font-weight: 900;
  margin: 3em auto 0 auto;
}

.loggedin {
  background: transparent;
  
}
.loggedin h2 {
  opacity: 0;
  color: #000;
  text-align: center;
  font-size: 1.3em;
}

::-webkit-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

        
        
  
        
        
        .socialbutton {
    width: 100%;
    padding: 18px;
    margin-bottom: 15px;
    border: 1px solid #E0E0E0;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    background: #fff;
    color: #545B67;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: ease-in 400ms;
}

.socialbutton:hover {
    box-shadow: 5px 5px 30px 15px rgba(0,204,255,1);
    cursor: pointer;
    color: #C0D9D9;
    margin-left: 0px;
}

.socialbutton:active {
    position: relative;
    top: 0px;
    color: #69a4b0;
}

.google-icon {
    background: url(../img/googlep.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}

.fb-icon {
    background: url(../img/fbicon.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
.fb-icon-disable {
background: url(../img/fbicon.png) #f6f6f6;
background-repeat: no-repeat;
background-position: 5% 50%;
pointer-events: none;
opacity: .60;
}
      
      .email-icon {
    background: none;
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

        
        .clicklink {
  text-decoration: none;
  color: #555;
  padding: 1em 2em;
  border: 2px solid;
  background: transparent;
  margin-right: 1em;
  display: inline-block;
  border-radius: 0em;
  cursor: pointer;
}
    
        
        
        .student input{-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 1.1em;
  color: #FFF;
  outline: none;
  font-size: 0.9em;
  text-align: left;}   
 
      
        
        
.
/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

.form label{
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 15px;
	text-align: center;
	height: 50px;
	line-height: 5px;
	display: inline-block;
    padding:20px;
	cursor: pointer;
	border: 3px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
	border: 3px solid #eee;
	background-color: #00ccff;
}

.form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after{
	content: "\2713";
    color:#000;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 10%;
	border: 1px solid #333;
	background-color: #fff;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
}
        
        
        