body {
    color: #484848;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    font-family: "Open Sans";
    -webkit-tap-highlight-color: transparent;
    background: #fff;
  }
  
  body p {
  }
  
  * {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    line-height: normal;
  }
  
  img {
    max-width: 100%;
  }
  
  b, strong {
    font-weight: 600;
  }
  
  .margin-0 {
    margin: 0!important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .color-gray {
    color: #888;
  }
  
  .landing-page section {
    padding: 60px 0;
  }
  
  .landing-page a {
    color: #007fb6;
  }
  
  .landing-page section.gray {
    background: #f6f6f6;
    padding: 30px 0;
  }
  
  .landing-page section.bty {
    padding: 30px 0;
  }
  
  .landing-page section.gray.ad-faq {
    padding: 60px 0;
  }
  
  .landing-page section.ad-news {
    padding: 30px 0;
  }
  
  hr {
    border-top: 1px solid #cccccc;
  }
  
  .landing-page section.blue {
    background: #007fb6;
  }
  
  h1 {
    font-size: 33px;
    line-height: 40px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  
  h3 {
    font-size: 26px;
    line-height: 30px;
  }
  
  h4 {
    font-size: 22px;
    line-height: 26px;
  }
  
  h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .ad-landing-page .container .set-width {
    max-width: 630px;
  }
  
  .ad-landing-page section.ad-articles .set-width  p {
    font-weight: 600;
  }
  
  .ad-landing-page section.ad-articles .set-width  p.color-gray {
    margin-bottom: 25px;
    color: #484848;
    font-weight: 400;
  }
  
  .ad-landing-page section.ad-articles   .steps {
    position: relative;
  }
  
  .ad-landing-page section.ad-articles  .steps span {
    position: absolute;
    left: 0px;
    background: #fff;
    padding-right: 20px;
    top: -10px;
    font-size: 16px;
  }
  
  .ad-landing-page section.ad-articles  .steps hr {
    margin-top: 60px;
    margin-bottom: 30px;
    border: 0;
    border-top: 2px solid #007fb6;
  }
  
  .ad-landing-page section.ad-articles  .set-width .img-section {
    margin-bottom: 20px;
  }
  
  .ad-landing-page section.ad-articles  .set-width .img-section img {
    max-width: 100%;
  }
  
  .ad-landing-page section.ad-faq h3 {
    margin-bottom: 30px;
  }
  
  .ad-landing-page section.ad-faq ul.content {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .ad-landing-page section.ad-faq ul.content li {
    border-top: 1px solid #e2e2e2;
  /* padding: 12px 0; */
    margin: 0!important;
    position: relative;
    padding-right: 30px;
  }
  
  .ad-landing-page section.ad-faq ul.content li:last-child {
    border-bottom: 1px solid #e2e2e2;
  }
  
  .ad-landing-page section.ad-faq ul.content li strong {
    font-weight: 600;
    color: #484848;
    font-size: 14px;
    display: block;
    cursor: pointer;
    padding: 12px 0;
  }
  
  .ad-landing-page section.ad-faq ul.content li strong .fa {
    float: right;
    font-weight: 300;
    color: #a1a1a1;
    font-size: 10px;
    position: absolute;
    right: 0px;
    top: 17px;
  }
  
  .ad-landing-page section.ad-faq ul.content li p {
    color: #484848;
    margin-bottom: 0;
    display: none;
    margin-bottom: 12px;
  }
  
  .ad-landing-page section.ad-faq ul.content li.active p {
  }
  
  .ad-landing-page section.ad-faq ul.content li p span {
    display: block;
  }
  
  .ad-landing-page section.ad-faq ul.content li p span .fa-circle {
    color: #484848;
    font-size: 2px;
    float: left;
    margin-top: 9px;
    margin-right: 5px;
  }
  
  .ad-landing-page section.ad-faq ul.content li.active strong .fa-plus {
    display: block;
  }
  
  .ad-landing-page section.ad-faq ul.content li strong .fa-minus {
    display: none;
  }
  
  .ad-landing-page section.ad-faq ul.content li.active strong .fa-minus {
    display: block;
  }
  
  .ad-landing-page section.ad-faq ul.content li.active strong .fa-plus {
    display: none;
  }
  
  .ad-landing-page section.ad-news .col-md-6 {
    min-height: 66px;
  }
  
  footer {
    background: #f6f6f6;
    padding: 25px 0;
  }
  
  .landing-page section.blue,.landing-page section.blue h3 {
    color: #fff;
  }
  
  .landing-page section.blue p {
    font-weight: 300;
  }
  
  .landing-page .lSSlideOuter .lSPager.lSpg {
    display: none;
  }
  
  .landing-page .lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background: #ccc;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -15px;
    opacity: 1;
  /* -webkit-transition: opacity 0.35s linear 0s; */
  /* transition: opacity 0.35s linear 0s; */
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  .landing-page .lSAction > a .fa {
    color: #888;
    font-size: 10px;
    margin-left: 4px;
  }
  
  .landing-page .lSAction > a:hover .fa {
    color: #007fb6;
  }
  
  .landing-page .lSAction  a.lSNext .fa {
    float: left;
    margin-left: 7px;
    margin-top: 5px;
  }
  
  .landing-page .lSAction  a.lSPrev .fa {
    transform: rotate(180deg);
    float: left;
    margin: 5px 0px 0px 5px;
  }
  
  .landing-page .lSAction {
    display: block!important;
  }
  
  .landing-page.ad-landing-page #ad-slider {
    margin-top: 20px;
    height: auto!important;
  }
  
  .landing-page.ad-landing-page #ad-slider li .slider-content {
    padding: 0 70px;
  }
  
  .landing-page.ad-landing-page #ad-slider li .slider-content .masters {
    margin: 0px;
    font-size: 13px;
    margin-top: 30px;
    font-weight: 600;
  }
  
  .landing-page.ad-landing-page #ad-slider li .slider-content .masters .testi-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #21a4dd;
    padding: 2px;
    display: inline-block;
    overflow: hidden;
    margin-top: -19px;
    float: left;
    margin-right: 15px;
  }
  
  .landing-page.ad-landing-page #ad-slider li .slider-content .masters .testi-circle img {
    width: 100%;
    border-radius: 50%;
  }
  
  .landing-page.ad-landing-page #ad-slider li .slider-content .masters .title {
    text-transform: uppercase;
  }
  
  .landing-page.ad-landing-page section.ad-header {
    margin-top: 52px;
  }
  
  .landing-page.ad-landing-page section.ad-header h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .landing-page.ad-landing-page section.ad-header  p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .landing-page.ad-landing-page section.ad-header {
    padding-bottom: 0;
    padding-top: 60px;
    background: #007fb6;
  }
  
  header {
    position: fixed;
    top: 0px;
    background: #fff;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
  }
  
  header.sticky {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
  }
  
  header a img {
    max-width: 190px;
  }
  
  header a {
  }
  
  .landing-page.ad-landing-page section.ad-header .container {
    position: relative;
  }
  
  .ad-form {
    width: 400px;
    position: absolute;
    right: 15px;
    top: 0px;
    border-top: #007fb6 solid 5px;
    border-radius: 2px;
    z-index: 999;
  }
  
  .ad-form.fixed-class {
    position: fixed;
    right: inherit;
    top: 70px;
    left: 50%;
    margin-left: 135px;
  }
  
  .ad-form .ad-form-box {
    padding: 20px;
    border: #e9e9e9 solid 1px;
    background: #fff;
    border-radius: 2px;
  }
  
  .ad-form .ad-form-box h5 {
    font-weight: 600;
    font-size: 18px;
  }
  
  .ad-form .ad-form-box p {
    color: #484848!important;
  }
  
  .ad-form .ad-form-box p.form-subtitle {
    max-width: 270px;
    margin: auto!important;
  }
  
  .ad-form .ad-form-box hr {
    border-color: #e9e9e9!important;
    margin-top: 30px!important;
  }
  
  .ad-form .ad-form-box img {
    margin-top: 5px!important;
  }
  
  .ad-form .ad-form-box h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
  }
  
  .ad-form .ad-form-box .form-group-row {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    position: relative;
  }
  
  .ad-form .ad-form-box .form-group-row .validation {
    font-size: 10px;
    position: absolute;
    top: 33px;
    color: red;
  }
  
  .ad-form .ad-form-box .form-group-row.form-radio-row .validation {
    top: 45px;
  }
  
  .ad-form .ad-form-box .form-group-row input {
    border: 0;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    width: 100%;
    padding: 6px 5px;
    font-size: 14px;
    margin: 0;
    color: #484848;
    padding-left: 0;
  }
  
  .ad-form .ad-form-box .form-group-row input:focus {
    border-bottom: 2px solid #ddd!important;
  }
  
  .ad-form .ad-form-box .form-group-row input::placeholder {
    color: #999;
    font-size: 13px;
  }
  
  .ad-form .ad-form-box .btn-iccc-submit {
    border-radius: 2px;
    background: #ea6915;
    color: #fff;
    margin-left: 0px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    width: 100%;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .ad-form .ad-form-box .form-group-row .radio-row span.radio-btn {
    border: 2px solid #e2e2e2;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    position: relative;
  }
  
  .ad-form .ad-form-box .form-group-row .radio-row span.radio-btn span.fa-dot {
    color: #007fb6;
    color: #007fb6;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    z-index: 999;
    background: #007fb6;
    display: none;
  }
  
  .ad-form .ad-form-box .form-group-row .radio-row span.radio-btn.active {
    border: 2px solid #007fb6;
  }
  
  .ad-form .ad-form-box .form-group-row .radio-row span.radio-btn.active span.fa-dot {
    display: block;
  }
  
  .ad-form .ad-form-box .form-group-row .radio-row span.btn-sets {
    float: left;
    color: #484848;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
  }
  
  .ad-form .ad-form-box .form-group-row .radio-row span.btn-sets input[type="radio"] {
    width: auto;
    position: absolute;
    left: 0px;
    top: 8px;
    z-index: 9;
  }
  
  .ad-form .ad-form-box .form-group-row .radio-row span.btn-sets.career {
    float: right;
  }
  
  .landing-page.ad-landing-page section.award-section img {
    margin-right: 20px;
  }
  
  .landing-page.ad-landing-page section.award-section img.award-1 {
    max-width: 105px;
  }
  
  .landing-page.ad-landing-page section.award-section img.award-2 {
    max-width: 155px;
  }
  
  .landing-page.ad-landing-page section.award-section img.award-3 {
    max-width: 60px;
  }
  
  .landing-page.ad-landing-page section.award-section img.award-4 {
    max-width: 75px;
  }
  
  .landing-page.ad-landing-page section.award-section img.award-5 {
    max-width: 105px;
  }
  
  .ad-mobile-btn {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 4px;
    background: #fff;
    -webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  
  .ad-mobile-btn a {
    border-radius: 2px;
    background: #ea6915;
    color: #fff;
    margin-left: 0px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    width: 100%;
    font-weight: 600;
    margin-top: 0px;
    max-width: 380px;
  }
  
  .ad-final-popup {
    position: fixed;
    background: #0000009c;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
  }
  
  .body-fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  
  .popup-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0px;
    background: #0000003b;
    z-index: 9;
    display: none;
    overflow-y: scroll;
  }
  
  .ad-form .ad-form-box .form-close {
    display: none;
  }
  
  .iccc-col {
    position: absolute;
    right: 15px;
    top: 7px;
    z-index: 999;
    display: none;
    font-size: 12px;
  }
  
  header.sticky .iccc-col {
    color: #484848;
  }
  
  .landing-page section.ad-news .set-width img.tet {
    max-width: 160px;
  }
  
  .landing-page section.ad-news .set-width img.tfe {
    max-width: 180px;
  }
  
  .landing-page section.ad-news .set-width img.et {
    max-width: 85px;
  }
  
  .landing-page section.ad-news .set-width img.bwb {
    max-width: 120px;
  }
  
  .landing-page section.bty img.bpf-1 {
    max-width: 120px;
  }
  
  .landing-page section.bty img.bpf-2 {
    max-width: 90px;
  }
  
  .landing-page section.bty img.bpf-3 {
    max-width: 95px;
  }
  
  .landing-page section.bty img.bpf-4 {
    max-width: 130px;
  }
  
  .landing-page section.bty img.bpf-5 {
    max-width: 150px;
  }
  
  .overlay-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.61);
    text-align: center;
    z-index: 999999;
    display: table;
    vertical-align: middle;
    display: none;
    top: 0px;
  }
  
  .overlay-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
  }
  
  .ad-form.after-signup-process .ad-form-box {
    padding: 25px!important;
    text-align: left!important;
  }
  
  .ad-form.after-signup-process .ad-form-box h5 {
    font-size: 17px!important;
    margin-bottom: 25px!important;
    text-align: left!important;
    margin-top: 40px;
  }
  
  .ad-form.after-signup-process .ad-form-box p {
    font-size: 14px!important;
    margin-bottom: 50px!important;
  }
  
  .ad-form.after-signup-process .ad-form-box p.p-last {
    border-top: 1px #e9e9e9 solid;
    padding-top: 15px;
    margin-top: 80px;
  }
  
  .ad-form.after-signup-process .ad-form-box .fa {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #888;
    display: none;
  }
  
  .iccc-section-box .iccc-slider-box {
    position: relative;
    padding: 0 30px;
    margin-top: 25px;
  }
  
  .iccc-section-box .iccc-slider-box img {
    width: 100%;
  }
  
  .iccc-section-box .iccc-slider-box .lSPager.lSpg {
    display: none;
  }
  
  .iccc-section-box .iccc-slider-box .slide {
    background: #cdcccc;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
  }
  
  .iccc-section-box .iccc-slider-box .slide:hover {
    background: #007fb6;
  }
  
  .iccc-section-box .iccc-slider-box .slide.left {
    left: 0px;
  }
  
  .iccc-section-box .iccc-slider-box .slide.right {
    right: 0px;
  }
  
  .iccc-section-box .iccc-slider-box .fa {
    color: #fff;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 2px;
  }
  
  .iccc-section-box .iccc-slider-box .slide.left .fa {
    margin-left: 7px;
  }
  
  .landing-page .iccc-slider-box .lSAction {
    display: none!important;
  }
  
  .my-padding-60 {
    padding: 60px 0!important;
  }
  
  .schoolbox img {
    margin: 20px 25px 0 25px;
  }
  
  .schoolbox {
    text-align: center;
  }
  
  .schoolbox h5 {
    text-align: left;
  }
  
  .schoolbox img.logo-1 {
    width: 65px;
  }
  
  .schoolbox img.logo-2 {
    width: 100px;
  }
  
  .schoolbox img.logo-3 {
    width: 60px;
  }
  
  .schoolbox img.logo-4 {
    width: 40px;
  }
  
  .schoolbox img.logo-5 {
    width: 65px;
  }
  
  .schoolbox img.logo-6 {
    width: 160px;
  }
  
  .schoolbox img.logo-7 {
    width: 75px;
  }
  
  .schoolbox img.logo-8 {
    width: 100px;
  }
  
  .schoolbox img.logo-9 {
    width: 55px;
  }
  
  .schoolbox img.logo-10 {
    width: 100px;
  }
  
  .schoolbox img.logo-11 {
    width: 200px;
  }
  
  .schoolbox img.logo-12 {
    width: 150px;
  }
  
  @media (max-width: 667px) {
    .my-padding-60 {
      padding: 30px 0!important;
    }
  
    .landing-page section.bty.schoolbox img {
      margin: 20px 15px 0 15px!important;
    }
  
    .schoolbox img.logo-1 {
      width: 52px;
    }
  
    .schoolbox img.logo-2 {
      width: 85px;
    }
  
    .schoolbox img.logo-3 {
      width: 52px;
    }
  
    .schoolbox img.logo-4 {
      width: 35px;
    }
  
    .schoolbox img.logo-5 {
      width: 55px;
    }
  
    .schoolbox img.logo-6 {
      width: 155px;
    }
  
    .schoolbox img.logo-7 {
      width: 65px;
    }
  
    .schoolbox img.logo-8 {
      width: 90px;
    }
  
    .schoolbox img.logo-9 {
      width: 55px;
    }
  
    .schoolbox img.logo-10 {
      width: 100px;
    }
  
    .schoolbox img.logo-11 {
      width: 200px;
    }
  
    .schoolbox img.logo-12 {
      width: 150px;
    }
  
    .schoolbox h5 {
      text-align: center;
    }
  }
  
  .ad-landing-page.delhi-page section.ad-articles .set-width p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  
  .ad-landing-page.delhi-page .ad-articles .container .set-width {
    margin-bottom: 50px;
  }
  
  .ad-landing-page.delhi-page .container .set-width h6 {
    font-size: 16px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 7px;
    font-weight: 400;
    text-align: left;
    line-height: normal;
  }
  
  ul.list-bull {
    margin: 0;
    padding: 0;
  }
  
  ul.list-bull li {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    font-size: 14px;
    position: relative;
    padding-left: 13px;
  }
  
  ul.list-bull li::before {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    font-size: 6px;
    color: #484848;
    top: 8px;
  }
  
  .ad-landing-page.delhi-page .container .set-width.square-box p {
    color: #888;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  
  .ad-landing-page.delhi-page .container .set-width.square-box p span {
    color: #484848;
    font-weight: 600;
    display: block;
    font-size: 15px;
  }
  
  .ad-landing-page.delhi-page .container .set-width.square-box  a {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .landing-page.ad-landing-page.delhi-page  #ad-slider li .slider-content {
    position: relative;
    padding-right: 150px;
  }
  
  .landing-page.ad-landing-page.delhi-page  #ad-slider li .slider-content .masters .testi-circle {
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .landing-page.ad-landing-page.delhi-page  #ad-slider li .slider-content .masters {
    margin-top: 15px;
  }
  
  .landing-page.ad-landing-page.delhi-page  #ad-slider li .slider-content .masters  a.read {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 400;
  }
  
  .landing-page.ad-landing-page.delhi-page  #ad-slider li .slider-content .masters  a.read .fa {
    margin-left: 3px;
  }
  
  .landing-page.ad-landing-page.delhi-page #ad-slider {
    margin-top: 0px;
  }
  
  .landing-page.ad-landing-page.delhi-page .testimonials-sec h3 {
    margin-bottom: 25px;
  }
  
  .landing-page.ad-landing-page.delhi-page section.ad-header h1 {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .logo-bbps {
    width: 145px;
  }
  
  .logo-srm {
    width: 80px;
  }
  .logo-modern {
    width: 180px;
  }
  @media (max-width: 768px) {
    .logo-bbps {
      width: 120px;
    }
  
    .logo-srm {
      width: 80px;
    }
  
    .logo-doon {
      width: 150px;
    }
  }
  
  .landing-page.ad-landing-page.delhi-page .schoolbox img {
    margin: 20px 15px 0 15px;
  }
  
  @media (max-width: 768px) {
    .ad-landing-page.delhi-page .container .set-width.square-box p {
      
        max-width: 255px;
    }
    .landing-page.ad-landing-page.delhi-page section.ad-header {
      text-align: left;
    }
  
    .landing-page.ad-landing-page.delhi-page section.ad-header h1 {
      font-size: 30px;
      line-height: normal;
    }
  
    .landing-page.ad-landing-page.delhi-page section.ad-header p {
      font-size: 16px;
      line-height: normal;
    }
  
    .ad-landing-page.delhi-page .container .set-width.square-box .row .col-md-4 {
      margin-bottom: 20px;
    }
  
    .ad-landing-page.delhi-page .container .set-width.square-box .row .col-md-4:last-child {
      margin-bottom: 0px;
    }
  
    .ad-landing-page.delhi-page .ad-articles .container .set-width {
      margin-bottom: 40px;
    }
  
    .ad-landing-page.delhi-page  h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .landing-page.ad-landing-page.delhi-page #ad-slider li .slider-content {
      position: relative;
      padding-right: 40px;
      padding-top: 90px;
    }
  
    .landing-page.ad-landing-page.delhi-page #ad-slider li .slider-content .masters {
      position: initial;
    }
  
    .landing-page.ad-landing-page.delhi-page #ad-slider li .slider-content .masters .testi-circle {
      right: 50%!important;
      top: 0px!important;
      transform: translate(-50%, 0)!important;
    }
  
    .landing-page.ad-landing-page.delhi-page #ad-slider li .slider-content .masters {
      padding-top: 0px;
    }
  }