@media (min-width: 1200px){
.container {
    width: 1100px;
}

}


@media (max-width: 768px){.ad-form.after-signup-process .ad-form-box .fa{
 
    display:block
}
    .landing-page section.blue p {
    font-weight: 400;
}
    .landing-page section.bty hr.margin-bottom-5{
        margin-bottom: 10px!important;
}
    .landing-page .lSAction > a {

    margin-top: -20px;
 
}
    .landing-page.ad-landing-page {
        text-align:center
    }
    .landing-page.ad-landing-page .ad-articles,.ad-landing-page section.ad-faq ul.content{
        text-align:left
    }
.landing-page.ad-landing-page section.ad-header h1 {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 15px;
}.landing-page.ad-landing-page section.ad-header {
margin-top: 0;
    padding-top: 90px;
}h1 {
    font-size: 22px;
    line-height: normal;
}h3 {
    font-size: 20px;
    line-height: normal;
}
 h5 {
    font-size: 16px;
    line-height: normal;
}
 
 .landing-page section {
    padding: 40px 0;
}.ad-landing-page section.ad-news .col-md-6 {
    min-height: 10px; margin-bottom:20px
}
.ad-landing-page section.ad-news .col-md-6 img.margin-bottom-20 {
    margin-bottom: 0px!important;
}
 .landing-page section.ad-news {
    padding: 40px 0;
    padding-bottom:20px
}.landing-page.ad-landing-page section.award-section img {
 
    margin:0 10px 15px 10px
}
 
 
  .landing-page.ad-landing-page section.award-section img.award-1 {
    max-width:90px
 
}
 .landing-page.ad-landing-page section.award-section img.award-2 {
    max-width:130px
 
}
  .landing-page.ad-landing-page section.award-section img.award-3 {
    max-width:50px
 
}
   .landing-page.ad-landing-page section.award-section img.award-4 {
    max-width:65px
 
}
    .landing-page.ad-landing-page section.award-section img.award-5 {
    max-width:90px
 
}
 
 
 
 
 
 
 
 
 .landing-page.ad-landing-page section.award-section img.isb {
 
    max-height: 25px;
  
}
 .landing-page section.bty img{
   margin:0!important;
   margin-top:5px!important;
}
  .landing-page section.bty img.bpf-1{
   max-width:100px
}
  .landing-page section.bty img.bpf-2{
    max-width:75px
}
   .landing-page section.bty img.bpf-3{
    max-width:80px
}
    .landing-page section.bty img.bpf-4{
    max-width:112px
}
     .landing-page section.bty img.bpf-5{
    max-width:130px
}







 .landing-page section.award-section {
  
    padding-bottom:25px
}
 .ad-mobile-btn {
    display: block;

}footer {
 
    margin-bottom: 45px;
}
 .ad-form {

}
 .ad-form {
    position: fixed!important;
    right: inherit!important;
    top: inherit!important;
    left: 0px!important;
    bottom: 0px!important;
    margin-left: 0!important;
    z-index: 99999;
    padding: 25px;
} .ad-form {
position: fixed!important;
    right: inherit!important;
    top: 0!important;
    left: 0px!important;
    bottom: inherit!important;
    margin-left: 0!important;
    z-index: 999;
    padding: 15px;
    width: 100%;border-top:0;
    display:none;
    height: 100%;
    overflow-y: scroll;
}.ad-form .ad-form-box .form-group-row .radio-row span.btn-sets {
    width:100%
}
 .ad-form .call-section{
display:none
}.ad-form .ad-form-box  {
    position: relative;
    border-top: 3px solid #007fb6;
    max-width: 400px;
    margin: auto;

}.ad-form .ad-form-box .form-group-row {
    margin-bottom: 15px;margin-bottom: 15px;
    text-align: left;
 
}

    .ad-form .ad-form-box .mobile-padding {
        padding:20px 15px!important
    }
 .ad-form .ad-form-box .form-close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  
    padding: 5px 10px;
    color: #888;
    font-size: 18px;

}header a img {
    max-width: 150px;
}
 .iccc-col {
    display: inline-block;
}
 .landing-page.ad-landing-page #ad-slider li .slider-content {
    padding: 0 40px;
}.landing-page.ad-landing-page #ad-slider li .slider-content .masters .testi-circle {

position: absolute;

top: 0px;

margin: 0;

left: 50%;

margin-left: -40px;
}.landing-page.ad-landing-page #ad-slider li .slider-content .masters {
    margin: 0px;
    font-size: 13px;
    margin-top: 20px;
    position: relative;
    padding-top: 85px;
}
}

@media (max-width: 667px){

.ad-form .ad-form-box .form-group-row.form-radio-row .validation{

    top:68px;

}

}


@media (max-width: 479px){
body {
    margin-top: 0px !important; */
}}

